.heading{
    width: 100%;
    font-size: 23px;
    margin-top: 0px;
    }
    .note{
        color: black;
        font-size: 15px;
        width: 100%;
    }
    .footer{
        bottom: 0;
        position: fixed;
        background-color: gray;
        width: 100%;
        text-align: center;
        line-height: 3;
        color: white;
    }
    canvas{
        border: 5px solid white;
        border-radius: 20px;
        box-shadow: 10px 10px 10px grey;
    }